*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */

}


@font-face {
    font-family: magnet-light;
    src: url(/MagnetTrial-ExtraLight-BF65f3b2c458ace.otf);
}

/* @font-face{
    font-family: magnet-light;

} */

body,html{
    height: 100%;
    width: 100%;
    font-family: magnet-light;


}


.img-section{
    height: 700px;
    width: 100%;
}

nav{
    height: 10vh;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color:rgba(255, 192, 203, 0);
    z-index: 999;
    /* position:fixed; */
    margin-bottom: 0.5px;
    padding-left: 50px;
    font-family: magnet-light;
    transition: all ease 0.5s;
}

.nav-middle{
    height: 100%;
    width: 60%;
    /* left: 10px; */
    display: flex;
    justify-content:center;
    align-items: center;
    gap:20px;
    /* background-color: yellow; */
}

.nav-right{
    height: 100%;
    width: 30%;
    margin-right: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    
}

.nav-right p{
    color: #7F8575;
}

nav:hover{
    background-color: white;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo p{
    line-height: 12px;
    font-family: magnet-light;
}


.hero{
    height: 100vh;
    width: 100%;
    top:10vh;
    position: relative;
    overflow: hidden;
}

.img-section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border-radius: 20px; */


}

.overlay1{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.text{
    padding-left: 30px;
    padding-top: 30px;
    color: #1D1D1B;
    /* border: 1px solid black; */
}
.text h1{
    font-weight: 100;
    font-size: 50px;
}


.boxes{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 30px;
    /* border: 1px solid black; */
    gap: 10px;
}

.box{
    height: 300px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.349);
    backdrop-filter: blur(10px);
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box h1{
    font-weight: 100;
}

.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    bottom: -100%;
    transition: all ease 0.5s;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}


.box:hover .overlay{
   bottom: 0;
}

/* 
.overlay p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 100px;
    transition: all ease 1.5s;
    color: #373634;
} */

.text-cont{
    margin-top: 20px;
    width:100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 5px;
    font-size: 11.5px;
    bottom: 40%;
}

.each-text{
    width: 100%;
    height: 2vh;
    /* bottom: -100%; */
    /* border: #1D1D1B solid 2px; */
    position: relative;
    overflow: hidden;
}

.each-text p{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    /* top: 0; */
    bottom: -300%;
    transition: all ease 0.6s;
    /* opacity: 0; */
}

.overlay:hover .each-text p{
    bottom: 0;
    /* opacity: 1; */
}

.overlay i{
    position: absolute;
    bottom: 8px;
    left: 10px;
}
.overlay i:hover{
    margin-left: 10px;
    cursor: pointer;
}


.overlay:after{
    content: "";
    width: 0;
    height:2px;
    background-color: black;
    position:absolute;
    bottom:10%;
    left: 0;
    transition: all ease 2.5s;
}

.box:hover .overlay:after{
    width: 100%;
}

/* .box:hover .overlay p{
    margin-top: 0;
    
} */

.marquee{
    height: 900px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.marquee img{
    height: 80%;
    width:auto;
    object-fit: contain;
    /* scale: 0.5; */
    position: absolute;
    z-index: 1;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.marquee-overlay{
    height: 80%;
    width: 100%;
    top:10%;
    /* left:50%;
    transform: translate(-50%, -50%); */
    /* left: 50%; */
    z-index: 2;
    position: absolute;
    /* position: absolute; */
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    
    /* background-color: yellow; */
}


.marquee-divs, .marquee-divs-bottom{
    /* height: 20%; */
    /* background-color: pink; */
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* gap: 20px; */
    overflow: hidden;
    position: relative;
    /* animation: slide 20s linear infinite; */
}

.marquee-divs .marquee-animate{
    /* height: 100%;
    width: 100%;
    font-size: 12px; */
    display: flex;
    /* align-items: center;
    justify-content: center; */
    width: max-content;
    gap: 10px;
    /* background-color: pink;
    overflow: hidden; */
    /* position: relative; */
    animation: slide 30s linear infinite;
    
}

.marquee-divs-bottom .marquee-animate{
    display: flex;
    width: max-content;
    gap: 10px;
    animation: bottom-slide 20s linear infinite;
}

@keyframes slide{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}

@keyframes bottom-slide{
    0%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0%);
    }
}

.marquee-tex{
    flex-shrink: 0;
    
}

.image-containers{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #D7CFC3;
    overflow: hidden;
    position: relative;
}

.image-containers-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.image-box{
    transition: all ease 0.5s;
    z-index: 10;
}

.image-box:hover{
    height: 340px;
    width: 340px;
}

.image-containers-overlay img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;    
    z-index: -99;
}

.image-box1:hover ~.image1{
    opacity: 1;
    z-index: 9;
    /* position: absolute; */
}

.image-box2:hover ~.image2{
    opacity: 1;
    z-index: 9;
    /* position: absolute; */
}

.image-box3:hover ~.image3{
    opacity: 1;
    z-index: 9;
    /* position: absolute; */
}

.texts-info{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    font-family: magnet-light;
}

.texts-info hr{
    height: 1px;
    width: 100%;
    background-color: #1D1D1B;
}

.one{
    height: calc(100%/3);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 40px; */
    /* background-color: pink; */
    /* position: relative; */
}
.one h1{
    width: 70%;
    font-size: 48px;
    margin-left: 20px;
    font-weight: 100;
    /* background-color: yellow; */
}

.one div{
    width: 60%;
    /* background-color: purple; */
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    /* margin-left: 240px; */
    margin-right: 40px;
   font-size: 16px;
}

.one div button{
    background-color: black;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 4px;
}

.two{
    height: calc(100%/3);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.two i{
    margin-left: 20px;
}
.two h3{
    width: 70%;
    font-size: 28px;
    margin-left: 20px;
    font-weight: 100;
    /* background-color: yellow; */
}

.two div{
    width: 60%;
    /* background-color: purple; */
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    /* margin-left: 240px; */
    margin-right: 60px;
   font-size: 15px;
}


.product{
    height: 75vh;
    width: 100%;
    background-color: #FFFDF5;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 2%;
}
.product-title{
    margin-top: 10vh;
    height: 20%;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 66%;
}
.product-title h1{
    font-size: 50px;
    font-weight: 400;
}
.product-title button{
    padding: 10px;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    border-radius: 7px;
    font-size: 15px;
}
.prod-deets{
    height: 80%;
    width: 100%;
    display: flex;
    overflow: hidden;
    gap: 20px;
}
.box-container{
    height: 100%;
    width: 25%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.box-container p{
    font-size: 20px;
}
.box-container p span{
    font-weight: 600;
}
.product-box{
    width: 100%;
    overflow: hidden;
}
.product-box img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.3s;
}
.product-box:hover img{
    transform: scale(1.2);
}


.solution{
    height: 70vh;
    width: 100%;
    background-color: #12271D;
    padding-top: 5%;
    color: white;
}
.soln-title{
    height: 50%;
    width: 100%;
    display: flex;
    overflow: hidden;
    padding-left: 10%;
}

.left{
    height: 100%;
    width: 70%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left p{
    font-size: 18px;
}

.left h1{
    font-size: 40px;
    font-weight: 400;
}

.right{
    height: 100%;
    width: 30%;
}

.right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sol-marquee{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-banner{
    height: 60%;
    width: 100%;
    background-color: transparent;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

.ov-text{
    flex-shrink: 0;
    font-size: 16px;
    animation: move 3s infinite linear;
}

.ov-text h1{
    font-weight: 400;
}

@keyframes move {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}


.factory{
    height: 100vh;
    width: 100%;
    background-color: #FFFDF5;
}

.fact-title{
    height: 20%;
    display: flex;
    align-items: center;
    gap: 340px;
    padding-left: 10%;
}

.fact-title h1{
    font-size: 40px;
    font-weight: 400;
}

.fact-title p{
    font-size: 16px;
    font-weight: 500;
}

.list{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 10%;
}

.list1{
    height: 100%;
    width: 50%;
}

.list2{
    height: 100%;
    width: 50%;
}

.txt{
    height: 12%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #EFEBDD;
}

.txt h1{
    font-weight: 400;
    font-size: 28px;
}

.footer {
  height: 100vh;
  width: 100%;
  background-color: #dfdac6;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-header {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  top: 0;
  /* background-color: pink; */
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.top-header h1 {
  font-size: 45px;
  font-weight: 400;
}
.arrow {
  height: 60px;
  width: 60px;
  border-radius: 5px;
  border: 1px solid black;
  
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow svg {
  rotate: -90deg;
  overflow: hidden;
}
.arrow:hover {
  border-radius: 15px;
}
.arrow-overlay {
  transition: all ease 0.4s;
  background-color: #12271d;
  position: absolute;
  border-radius: 15px;
  bottom: -65px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow:hover .arrow-overlay {
  bottom: 0%;
}
.footer-box-container {
  height: 290px;
  width: 80%;
  position: relative;
  top: 10%;
  display: flex;
  /* background-color: pink; */
  gap: 20px;
}
.footer-box {
  height: 290px;
  background-color: transparent;
  border: 1px solid black;
  transition: all ease 0.5s;
  /* position: relative; */
}
.footer-box h1 {
  font-size: 30px;
  font-weight: 350;
}
.footer-box-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ttext {
  width: 100%;
  height: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.ttext h1 {
  position: absolute;
  bottom: -30px;
  transition: all ease 0.5s;
}
.box-text {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-text h1 {
  transition: all ease 0.5s;
}
.footer-box:hover .box-text h1 {
  top: 0;
}
.footer-box:hover .ttext h1 {
  bottom: 0;
  color: white;
}
.footer-box:hover {
  border-radius: 50px;
}
.footer-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}
.footer-box:hover img {
  opacity: 1;
}
.copyright {
  height: 55px;
  width: 80%;
  background-color: transparent;
  border: 1.5px solid black;
  border-radius: 5px;
  position: absolute;
  bottom: 3%;
  display: flex;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.yucca {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  gap: 15px;
}

.contact-links {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  gap: 20px;
  font-size: 13px;
}
.wp-icon {
  height: 50px;
  width: 50px;
  background-color: #12271d;
  position: absolute;
  top: 89%;
  left: 95%;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: white;
  /* background-color: pink; */
}

/* 
.box{
    height: 400px;
    width: 260px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.overlay{
    height: 50%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.596);
    position: absolute;
    bottom: -50%;
    transition: all ease 0.5s;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box:hover .overlay{
    bottom: 0;
} */

/* 
main h1{
    font-size: 100px;
    position:relative;
} */
/* 
main h1::after{
    content:"Jain";
}

main h1::before{
    content: "Hello! ";
} */

/* main h1::after{
    content: "";
    width: 0;
    height:4px;
    background-color: darkslateblue;
    position:absolute;
    bottom:0;
    left: 0;
    transition: all ease 0.5s;
}

main h1:hover::after{
    width: 100%;
} */
